body {
    font-family: "Poppins", sans-serif;
    color: #FFF;
    background-image: url("unsplash.jpg");
    height: 800px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
  }

  @media screen and (max-width: 820px){
    body{
        height: 1180px; 
    }
}

  