<div class="container">
    <h1>Inscription :</h1>
    <form>
        <label for="prenom">Prénom:</label><br>
        <input type="text" id="prenom" name="prenom"><br>
        <label for="nom">Nom:</label><br>
        <input type="text" id="nom" name="nom"><br>
        <label for="fname">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password">
      </form>
      <div class="anime">
      <h2 class="anime2" >S'inscrire</h2>
    </div>
</div>

