body {
  background-color: rgb(158, 202, 223);
}

.container-post {
  margin-left: 35%;
  text-align: center;
  margin-top: 200px;
  max-width: 400px;
  margin-top: 60px;
  overflow: hidden;
  background-color: #FFF;
  border: 2px solid #FFF;
  padding: 30px;
  border-radius: 15px;
  opacity: 95%;

}

.comment-box{
 text-align: center;
 max-width: 350px;
 position: relative;
 left: 520px;

}


.comment-box a{
  text-decoration: none;
  color: black;
}

.comment-box :hover{
  opacity: 100%;
 

}



h3 {
  border-top: 1px solid rgb(158, 202, 223);
  padding-top: 20px;
}

#post_id {
  position: relative;
  top: 280px;
  left: 630px;
}

#comment-button {
  position: relative;
  top: 280px;
  left: 660px;
}

form {
  position: relative;
  bottom: 250px;
}

h4 {
  font-size: 14px;
  position: relative;
  top: 20px;
  max-width: 350px;
  margin-top: 20px;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: #FFF;
  border: 2px solid #FFF;
  padding: 20px;
  border-radius: 15px;
  opacity: 70%;
  transition:0.2s;
}

h4 :hover{
  opacity: 100%;
  background-color: rgb(205, 136, 136);
}

#comment {
  position: relative;
  top: 300px;
  left: 505px;
  width: 400px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid rgb(187, 185, 185);
  padding-left: 4px;
}

button {
  font-family: Poppins;
  font-size: 12px;
  background-color: rgb(137, 173, 226);
  border: 1px solid #FFF;
  border-radius: 15px;
  padding-right: 5px;
  padding-left: 5px;
}

.anime2{
  cursor: pointer;
  background-color: rgb(205, 136, 136);
  position: relative;
  left: 680px;
  top: 200px;
  font-size: 25px;
  border-radius: 50%;
  padding-right: 10px;
  padding-left: 10px;
}


.parametres{
        
  display: flex;
  flex-direction: row;
width: 20px;
position: relative;
left: 10px;
top: 25px;
}

a{
  text-decoration: none;
}

.config{
  position: relative;
  top: 2px;
  left: 10px;
  border-bottom: 1px solid #FFF;
  padding-right: 20px;
}

.parametres a{
  color: black;
}

#post_id{
 visibility: hidden;
}

.parametres a :hover{
  color: #FFF;
}

.auteur{
  font-size: 14px;
 position: relative;
 top: 40px;
 padding-bottom: 30px;
 border-top: 1px solid rgb(158, 202, 223);
}

.faHome{
  background-color: #FFF;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  }