body{
    background-color: rgb(158, 202, 223);
}

.container-profil{
    margin-left: 35%;
    text-align: center;
    margin-top: 200px;
        max-width: 400px;
        margin-top: 60px;
        overflow: hidden;
        background-color: rgb(100, 154, 179);
        border: 2px solid #FFF;
        padding: 30px;
        border-radius: 15px;
        opacity: 95%;

}

h1{
 font-size: 50px;
}

h2{
    font-size: 30px;
}

h3{
    border-top: 1px solid rgb(158, 202, 223);
    margin-top: 20px;
    padding-top: 20px;
}