<div class="parametres">
    <a routerLink="/timeline">
    <div class="config">Home</div>
</a>
    <fa-icon [icon]="faHome"></fa-icon>

</div>
<div class="container">
    <h1>Modifier mon profil :</h1> 
    <div class="photo"><img [src]="photo" style="display: none" onload="this.style.display=''" alt=""></div>
    <form [formGroup]="profil" (ngSubmit)="profilSubmit()">
    <div class="form-group">
      <label for="file-upload" class="custom-file-upload">
      </label>
      <input class="file" type="file" (change)="onChange($event)">
    </div>
    <button class="modif-photo">Modifier ma photo</button>
  </form>
    <form [formGroup]="register" (ngSubmit)="collection()">
        <div class="form-group">
          <label for="prenom">Prénom:</label><br>
          <input type="text" formControlName="prenom" class="form-group" placeholder="Insérez un prénom" id="prenom" name="prenom" #prenom required /><br>
        </div>
        <div class="form-group">
          <label for="nom">Nom:</label><br>
          <input type="text" formControlName="nom" class="form-group" placeholder="Insérez un nom"  id="nom" name="nom" #nom required><br>
        </div>
        <div class="form-group">
          <label for="fname">Email:</label><br>
          <input type="text" formControlName="email" class="form-group" placeholder="Insérez un email"  id="email" name="email" #email required><br>
        </div>
        <div class="form-group">
          <label for="password">Password:</label><br>
          <input type="password" formControlName="password" class="form-group" placeholder="Insérez un mot de passe"  id="password" name="password" #password required>
        </div>
        <button type="submit" class="button-modif">Modifier</button>
        </form>
        <div class="anime"><button class="anime2"(click)="deleteUserQuestion()">Supprimer mon compte</button></div>
</div>
<div class="anime">
</div>
