<div class="parametres">
    <a routerLink="/timeline">
    <div class="config">Home</div>
</a>
    <fa-icon [icon]="faHome"></fa-icon>

</div>
<div class="container">
    <h1>Modifier mon profil :</h1>
    <form>
        <label for="prenom">Prénom:</label><br>
        <input type="text" id="prenom" name="prenom"><br>
        <label for="nom">Nom:</label><br>
        <input type="text" id="nom" name="nom"><br>
        <label for="fname">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password">
      </form>
      <div class="anime">
      <button class="anime2">Supprimer mon compte</button>
    </div>
</div>
