<body>
    

<div class="parametres">
    <a routerLink="/parametres">
    <div class="config">Paramètres</div>
</a>
    <fa-icon [icon]="faTools"></fa-icon>
</div>
<section>
    <div class="container">
        <textarea placeholder="Racontez une nouveauté..." id="w3review" name="w3review" rows="4" cols="50"></textarea>
        <div class="button-container">
        <button class="image">Télécharger image</button>
        <button class="publier">Publier</button>
    </div>
    <div class="posts" *ngFor='let post of postData'>
        <div class="titre">{{ post.titre }}</div>
        <div class="texte">{{ post.texte }}</div>
        <div class="images">{{ post.imageUrl }}</div>
      
    </div>
    </div>
    <div class="user-container">
        <h1>La Team</h1>
        <div class="users" *ngFor='let user of userData'>
            {{user.nom}}
        </div>
    </div>
    </section>
</body>
 
