@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.icon{
background-color: #FFF;
padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
padding-bottom: 2px;
border-top-left-radius: 50%;
border-top-right-radius: 50%;
border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%;
}

.logout{
    
    display: flex;
    flex-direction: row;
width: 20px;
  position: relative;
  left: 1320px;
  top: 40px;
}

.logout a{
    color: black;
}

.config-logout :hover{
    color: #FFF;
}

a{
    text-decoration: none;
    color:rgb(100, 154, 179);
    
}





.config-logout{
    position: relative;

    left: 10px;
    border-bottom: 1px solid #FFF;
    padding-right: 20px;
}




.parametres{

    display: flex;
    flex-direction: row;
width: 20px;
  position: relative;
  left: 1280px;
  top: 25px;
}

.parametres a{
    color: black;
}

.parametres a :hover{
    color: #FFF;
}


.config{
    position: relative;
    top: 2px;
    left: 10px;
    border-bottom: 1px solid #FFF;
    padding-right: 20px;
}


section{
    overflow: hidden;
    position: relative;
    width: 1300px;
    height:fit-content;
    left: 40px;
    top: 20px;
    display: flex;
    flex-direction: row;
}



h1{
    position: relative;
    color:rgb(100, 154, 179);
    text-align: center;
}

.posts{
    margin-bottom: 80px;
    text-align: center;
    position: relative;
    top: 20px;
    left: 50px;
    border: 1px solid rgb(199, 198, 198);
    margin-top: 20px;
    border-radius: 15px;
    width: 500px;
}

#titre{
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    left: 220px;
}

#texte{
    font-family: Poppins;
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
    left: 5px;
    height: 150px;
    width: 600px;
}

.titre{
    height: fit-content;
    border-bottom: 1px solid rgb(199, 198, 198)}

  


.texte{
    height: fit-content;
    color: rgb(63, 61, 61);
font-size: 12px}

.images{
    height: fit-content;
    color: gray}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    right: 80px;
    max-width: 700px;
    /* height: fit-content; */
    margin: 30px auto;
    /* margin-top: 250px; */
    min-height: 500px;
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius: 15px;
    opacity: 98%;
    
  }



  .user-container{
    position: relative;
    top: 50px;
    height:fit-content;
    right: 50px;
    width: 300px;
    border: solid;
    background-color: #FFF;
    border: 2px solid #FFF;
    border-radius: 15px;
    min-height: 500px;
}




input[type="file"] {
    margin-left: 10px;
    margin-top: 10px;
    font-family: Poppins;
    font-size: 12px;
 
}


  button{
      font-family: Poppins;
      font-size: 12px;
    background-color: rgb(137, 198, 226);
    border: 1px solid #FFF;
    border-radius: 15px;
    padding-right: 5px;
    padding-left: 5px;
  }

  .button-container{
      position: relative;
      left: 480px;
      bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 200px;
  }

  .button-supprimer button{
      position: relative;
      font-size: 15px;
      left: 230px;
      bottom: 5px;
      background-color: rgb(216, 99, 99);
     
  }

  



::placeholder{
      font-family: Poppins;
  }

  .users{
      text-align: center;
      position: relative;
      top: 20px;
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgb(137, 198, 226);
  }

  .users :hover{
    color: pink;
}
  