fa-icon {
    background-color: #FFF;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.logout {

    display: flex;
    flex-direction: row;
    width: 20px;
    position: relative;
    left: 1320px;
    bottom: 10px;
}

.logout a {
    color: black;
}

.config-logout :hover {
    color: #FFF;
}

a {
    text-decoration: none;
}

.config-logout {
    position: relative;

    left: 10px;
    border-bottom: 1px solid #FFF;
    padding-right: 20px;
}