body{
    background-color: rgb(158, 202, 223);
    opacity: 85%;
          width: 100%;

          margin: 0;
          padding: 0;
          overflow-x: hidden;
      
}

.logout{
    
    display: flex;
    flex-direction: row;
width: 20px;
  position: relative;
  left: 1320px;
  bottom: 10px;
}

.logout a{
    color: black;
}

.config-logout :hover{
    color: #FFF;
}

a{
    text-decoration: none;
}

.config-logout{
    position: relative;

    left: 10px;
    border-bottom: 1px solid #FFF;
    padding-right: 20px;
}