.container-header{
    text-align: center;
    position: relative;
    max-width: 1450px;
    max-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    background-color: rgb(100, 154, 179);
    border-bottom: solid #FFF 2px;
}

a{
    text-decoration: none;
    color: #FFF;
}
