.container-header{
    text-align: center;
    position: relative;
    max-width: 1450px;
    max-height: 200px;
    color: #FFF;
    padding-bottom: 7px;
    border-bottom: solid #FFF 2px;
    background-image: url("groupo-1.jpeg");
    background-repeat: repeat;
    opacity: 85%;
   
}

a{
    text-decoration: none;
    color: #FFF;
    background-color: rgb(100, 154, 179);
      padding-top: 10px; 
    padding-bottom: 7px;
    padding-left: 490px;
    padding-right: 490px;
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
    position: relative;
    right: 4px;
}

img{
    height: 200px;
    width: 300px;
}
